$primary: #7c3299
@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


$couleur1 : #222831
$couleur2 : #393E46
$couleur3 : #00ADB5
$couleur4 : #EEEEEE

$typographie1 : 'Lora', serif
$typographie2 : 'Open Sans', sans-serif


//navBar
.navbar
  background-color: $couleur3 !important

.bi-person-circle
  @media screen and (max-width: 768px)
    display: none

.navbar-toggler
  margin-left: auto

.logo 
    width: 55px
    height: auto

    @media (max-width: 576px) 
        width: 100%
        max-width: 120px

.container-fluid-card
  .row
    background-color: $couleur3 !important

  
.hide-svg
  @media screen and (max-width: 768px)
    display: none


.search-box 
  position: relative
  width: 300px
        

//Card  
.container-card-container
  background-color: $couleur1 !important


.container-fluid-card
  .row-fluid
    background-color: $couleur1

      
      
//Typographie
.card-titre , .nav-link , .text-center, h1, td
  font-family: $typographie1

.card-text , .text-start
  font-family: $typographie2
  

  
.search-box input
  width: 100%
  padding: 10px 10px 10px 40px
  font-size: 16px
  border: 1px solid #ccc
  border-radius: 5px
  box-sizing: border-box
        

        
.search-box svg 
  position: absolute
  left: 10px
  top: 50%
  transform: translateY(-50%)
  width: 16px
  height: 16px
  fill: #888 
  pointer-events: none


  
.card
  padding: 25px
  margin: 25px
  background-color: $couleur4

.card
  .card-title
    background-color: $couleur3
  
// ajouterment de footer

.bg-body
  background-color: $couleur3 !important
.container-img
  margin-top: 45px

.large-svg
  width: 55px
  height: 55px

.img-client
  width: 100px
  height: 100px  

