.nav-item
  display: flex
  justify-content: space-around

.search-box 
    position: relative
    width: 300px
        
  
.search-box input
    width: 100%
    padding: 10px 10px 10px 40px
    font-size: 16px
    border: 1px solid #ccc
    border-radius: 5px
    box-sizing: border-box
        

        
.search-box svg 
    position: absolute
    left: 10px
    top: 50%
    transform: translateY(-50%)
    width: 16px
    height: 16px
    fill: #888 
    pointer-events: none


  
// ajouterment de footer
.container-img
  margin-top: 45px

.large-svg
    width: 55px
    height: 55px

.img-client
  width: 100px
  height: 100px  